@media print {
    
    body{
        margin: 0;
        padding: 0;
    }
    
    html,body{
        width: 210mm;
        height: 297mm;
    }
    *{
        box-sizing: border-box;
    }
    
    header,footer{
        display: none;
    }    
    main{
        width: 1000px;
        height: 1450px;
        display: flex;
    }
    
    /* ======[ 왼쪽 타이틀 영역 ]======[ */
    #leftSide{
        background-color: #1e4c84;
        width: 280px;
        height: 1450px;
    }
    #left{
        background-color: #1e4c84;
        width: 70px;
        height: 1450px;
    }
    
    /* ======[ 오늘쪽 타이틀 영역 ]======[ */
    #right{
        width: 50px;
        height: 1450px;
        
    }
    #rightSide{
        width: 780px;
        height: 1450px;
    }
    
    
    /* 메인 Content 영역 */
    .firstBox{
        height: 330px;
        display: flexbox;
        /* background-color: antiquewhite; */
        border-bottom: 2px solid rgba(175, 183, 211, 0.413);
    }
    
    
    /* =========[ 프로필 이미지 ]=========*/
    #profile{
        height: 230px;
        width: 200px;
        background-color: white;
        border-radius: 50%;
        border: 4px solid white;
    }
    
    #profileImage{
        height: 230px;
        width: 200px;
        border-radius: 50%;
    }
    /* ------------------------------------- */
    
    #box{
        border-bottom: 2px solid rgba(175, 183, 211, 0.413);
        padding-top: 10px;
    }
    
    .secondBox{
        height: 155px;
    }
    .thirdBox{
        height: 150px;
    }
    .fourthBox{
        height: 150px;
    }
    .fiveBox{
        height: 174px;
    }
    .sixBox{
        height: 120px;
    }
    .sevenBox{
        height: 220px;
    }
    .eighthBox{
        height: 150px;
    }
    
    .menu{
        color: white;
        font-weight: bold;
        font-size: 30px;
    }
    .subMenu{
        color: rgba(248, 248, 255, 0.482);
        font-size: 18px;
    }
    
    /* 사회경험 */
    th{
        text-align: left;
        letter-spacing: 2px;
        font-size: 20px;
    }
    
    .period{
        font-size: 20px;
        text-align: right;
        font-weight: bold;
        color: rgba(36, 35, 35, 0.849);
    }
    
    #logoImage{
        width: 150px;
    }
    #area{
        height: 50px;
    }
    
    #info{
        font-size: 30px;
        margin: 0px 0;
        color: #1e4c84;
    }
    #name{
        font-size: 50px;
        margin-top: 10px;
        color: #1e4c84;
    }
    
    #enterTime{
        font-size: 25px;
        padding-left: 20px;
    }
    
    #infoDevelor{
        font-size: 20px;
        line-height: 2;
        font-weight: bold;
        color: rgb(129, 126, 126);
    }
    th>span{
        color: rgba(36, 35, 35, 0.849);
    }
    
    #explanation{
        font-size: 15px;
        color: rgba(126, 120, 120, 0.849);
    }
    
    th > a{
        color: rgba(36, 35, 35, 0.849);
        text-decoration: none;
    }
}
/* -------------------------------------- */















body{
    margin: 0;
    padding: 0;
}

html,body{
    width: 210mm;
    height: 297mm;
}
*{
    box-sizing: border-box;
}

header,footer{
    display: none;
}    
main{
    width: 1000px;
    height: 1450px;
    display: flex;
}

/* ======[ 왼쪽 타이틀 영역 ]======[ */
#leftSide{
    background-color: #1e4c84;
    width: 280px;
    height: 1450px;
}
#left{
    background-color: #1e4c84;
    width: 70px;
    height: 1450px;
}

/* ======[ 오늘쪽 타이틀 영역 ]======[ */
#right{
    width: 50px;
    height: 1450px;
    
}
#rightSide{
    width: 780px;
    height: 1450px;
}


/* 메인 Content 영역 */
.firstBox{
    height: 330px;
    display: flexbox;
    /* background-color: antiquewhite; */
    border-bottom: 2px solid rgba(175, 183, 211, 0.413);
}


/* =========[ 프로필 이미지 ]=========*/
#profile{
    height: 230px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    border: 4px solid white;
}

#profileImage{
    height: 230px;
    width: 200px;
    border-radius: 50%;
}
/* ------------------------------------- */

#box{
    border-bottom: 2px solid rgba(175, 183, 211, 0.413);
    padding-top: 10px;
}

.secondBox{
    height: 155px;
}
.thirdBox{
    height: 150px;
}
.fourthBox{
    height: 150px;
}
.fiveBox{
    height: 174px;
}
.sixBox{
    height: 120px;
}
.sevenBox{
    height: 220px;
}
.eighthBox{
    height: 150px;
}

.menu{
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.subMenu{
    color: rgba(248, 248, 255, 0.482);
    font-size: 18px;
}

/* 사회경험 */
th{
    text-align: left;
    letter-spacing: 2px;
    font-size: 20px;
}

.period{
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    color: rgba(36, 35, 35, 0.849);
}

#logoImage{
    width: 150px;
}
#area{
    height: 50px;
}

#info{
    font-size: 30px;
    margin: 0px 0;
    color: #1e4c84;
}
#name{
    font-size: 50px;
    margin-top: 10px;
    color: #1e4c84;
}

#enterTime{
    font-size: 25px;
    padding-left: 20px;
}

#infoDevelor{
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    color: rgb(129, 126, 126);
}
th>span{
    color: rgba(36, 35, 35, 0.849);
}

#explanation{
    font-size: 15px;
    color: rgba(126, 120, 120, 0.849);
}

th > a{
    color: rgba(36, 35, 35, 0.849);
    text-decoration: none;
}
